@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #368f4fa9;
  color: white;
}

.scroll-indicator {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  animation: bounce 1s infinite;
  color: white;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.wave-text span {
  display: inline-block;
  animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
  animation-delay: 0s;
}

.wave-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.wave-text span:nth-child(3) {
  animation-delay: 0.4s;
}

.wave-text span:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 2s ease-in 1 forwards;
  text-align: center;
}


/* better display of arrow on phone */
@media screen and (max-width: 768px) {
  .absolute.bottom-4 {
    bottom: 16px;
  }
}

.ms-madi-regular {
  font-family: "Ms Madi", cursive;
  font-weight: 400;
  font-style: normal;
}